<!DOCTYPE html>
<html>
    <head>
        <title> Homepage </title>
        <link rel="stylesheet" type="text/css" href="/Unregistered_Homepage_Style.css">
        <script src="https://kit.fontawesome.com/4c2cf73d4b.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div id = "navbar">
            <img id = "hive-icon" src="/Hive_Icon.png" alt="Hive_Icon">
            <span id = "hive"> HIVE </span>
            <i class = "fa-solid fa-magnifying-glass"></i>
            <script>
                function search() {
                    var value = document.getElementById("search-bar").value;
                    var option = document.querySelector("#list option[value='" + value + "']");
                    if (option != null) {
                        window.location.href = "/View_Profile/" + value;
                    } else
                        alert("no results found");
                }
            </script>
            <input type="text" id = "search-bar" list = "list" name="search" placeholder = "login to search" size = "100">
            <datalist id="list">
            </datalist>
            <div id = "nav-links">
                <a class = "nav-link" href="/index"> • Home </a> 
                <a class = "nav-link" href = "/login"> Login </a> 
            </div>
        </div>

    {{#each posts}} {{!-- DO NOT USE THIS IN OTHER PAGES. This does not let users comment or vote. Use the one in Registered_Homepage--}}
            <div class = "post">
                <div class = "post-header">
                    <img  class = "user-icon" src="{{filename}}" alt="user_icon" width="32" height="32">
                    <p class = "post-username" title = "login to view profile"> {{username}} </p>
                    <p class = "dot"> • </p>
                    <p class = "post-title" title = "login to view post"> {{title}} </p>
                </div>
                <br> <br> 
                <p class = "post-content"> {{content}} </p>
                <br>
                <div class = "post-footer">
                    <i class="fa-solid fa-comment" style="color: #ffd201;" title = "login to comment"></i>
                    <span class = "comment-count"> {{commentcount}} </span>
                    <i class="fa-solid fa-angle-up" style="color: #ffd201;" title = "login to upvote"></i>
                    <span class = "vote-count"> {{votes}} </span>
                    <i class="fa-solid fa-angle-down" style="color: #ffd201; margin-right: 50px" title = "login to downvote"></i>
                </div>
            </div>
            <br>
    {{/each}}
    </body>
</html>